*{
    box-sizing: border-box;
    background-color: black;
}

body{
    height: 800px;
    display: flex;
    align-content: center;
}


.container{
    border: 2px solid red;
    max-width: 300px;
    margin: auto;
    height: 400px;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.multiple{
    border: 0.1px solid white;
    background-color: skyblue;
    padding: 8px;

}


.hovering{
    background-color: black;
}

