*{
    box-sizing: border-box;
}

body{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.container{
    box-sizing: content-box;
    border: 0.1px solid red;
    width:600px;
    margin: auto;
    height: 600px;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.multiple{
    border: 0.1px solid white;
    background-color: skyblue;
    min-width: 37.5px;
    min-height: 37.5px;
}


.hovering{
    background-color: black;
}

.reset{
    align-self: center;
    padding: 4px;
    color: red;

}

.button{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header{
    font-size: 23px;
    color:brown;
    align-self: center;
}

.generated{
    background-color: skyblue;
    border: 0.01px solid white;
}

.hovering99{
    background-color: black;
}